.container {
  background: #fff;
  min-height: 100vh;
}

#main-temperature {
  font-size: 6rem;
}

#temp-unit {
  font-size: 2rem;
}

#location-text {
  font-size: 3rem;
}

#sub-text {
  font-size: 1.5rem;
  color: #919191;
}

#forecast-title {
  font-size: 2rem;
}

#hourly-forecast-row {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

#test-card {
  display: inline-block;
}