<div class="container shadow pt-3">
  <ng-container *ngIf="authenticated">
    <div class="row justify-content-center">
      <div class="col-auto d-flex">
        <span id="main-temperature">{{ weatherData.temperature }}</span
        ><span id="temp-unit" class="align-self-start mt-4">°F</span>
      </div>
      <div class="col-auto d-flex justify-content-center" id="weather-icon-col">
        <ng-container *ngIf="weatherData.weatherIconId === '01d'">
          <object
            data="../../../assets/SVG/clear_sky.svg"
            height="80"
            width="80"
            class="align-self-center"
          ></object>
        </ng-container>
        <ng-container *ngIf="weatherData.weatherIconId === '01n'">
          <object
            data="../../../assets/SVG/clear_sky_night.svg"
            height="80"
            width="80"
            class="align-self-center"
          ></object>
        </ng-container>
        <ng-container *ngIf="weatherData.weatherIconId === '02d'">
          <object
            data="../../../assets/SVG/partly_cloudy.svg"
            height="80"
            width="80"
            class="align-self-center"
          ></object>
        </ng-container>
        <ng-container *ngIf="weatherData.weatherIconId === '02n'">
          <object
            data="../../../assets/SVG/partly_cloudy_night.svg"
            height="80"
            width="80"
            class="align-self-center"
          ></object>
        </ng-container>
        <ng-container
          *ngIf="
            weatherData.weatherIconId === '03d' ||
            weatherData.weatherIconId === '03n'
          "
        >
          <object
            data="../../../assets/SVG/scattered_clouds.svg"
            height="120"
            width="120"
            class="align-self-center"
          ></object>
        </ng-container>
        <ng-container
          *ngIf="
            weatherData.weatherIconId === '04d' ||
            weatherData.weatherIconId === '04d'
          "
        >
          <object
            data="../../../assets/SVG/broken_clouds.svg"
            height="120"
            width="120"
            class="align-self-center"
          ></object>
        </ng-container>
        <ng-container
          *ngIf="
            weatherData.weatherIconId === '09d' ||
            weatherData.weatherIconId === '09d'
          "
        >
          <object
            data="../../../assets/SVG/shower_rain.svg"
            height="120"
            width="120"
            class="align-self-center"
          ></object>
        </ng-container>
        <ng-container *ngIf="weatherData.weatherIconId === '10d'">
          <object
            data="../../../assets/SVG/rain.svg"
            height="120"
            width="120"
            class="align-self-center"
          ></object>
        </ng-container>
        <ng-container *ngIf="weatherData.weatherIconId === '10n'">
          <object
            data="../../../assets/SVG/rain_night.svg"
            height="120"
            width="120"
            class="align-self-center"
          ></object>
        </ng-container>
        <ng-container
          *ngIf="
            weatherData.weatherIconId === '11d' ||
            weatherData.weatherIconId === '11n'
          "
        >
          <object
            data="../../../assets/SVG/thunderstorm.svg"
            height="120"
            width="120"
            class="align-self-center"
          ></object>
        </ng-container>
        <ng-container
          *ngIf="
            weatherData.weatherIconId === '13d' ||
            weatherData.weatherIconId === '13dn'
          "
        >
          <object
            data="../../../assets/SVG/snow.svg"
            height="120"
            width="120"
            class="align-self-center"
          ></object>
        </ng-container>
        <ng-container
          *ngIf="
            weatherData.weatherIconId === '50d' ||
            weatherData.weatherIconId === '50d'
          "
        >
          <object
            data="../../../assets/SVG/mist.svg"
            height="120"
            width="120"
            class="align-self-center"
          ></object>
        </ng-container>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-auto">
        <div class="row">
          <div class="col-auto">
            <span id="location-text"
              >{{ weatherData.name }}, {{ weatherData.country }}</span
            >
          </div>
        </div>
        <div class="row">
          <div class="col-auto">
            <span id="sub-text">{{ weekday }}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-auto">
            <span id="sub-text">{{ weatherData.descriptionMain }}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-auto">
            <span id="sub-text">{{ weatherData.description }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-auto">
        <div class="row justify-content-center">
          <div class="col-auto">
            <object
              data="../../../assets/SVG/sunrise.svg"
              height="50"
              width="50"
            ></object>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-auto">
            {{ weatherData.sunriseTime }}
          </div>
        </div>
      </div>
      <div class="col-auto">
        <div class="row justify-content-center">
          <div class="col-auto">
            <object
              data="../../../assets/SVG/sunset.svg"
              height="50"
              width="50"
            ></object>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-auto">
            {{ weatherData.sunsetTime }}
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="row pb-3" id="hourly-forecast-row">
      <ng-container *ngFor="let hourly of hourlyForecast.forecast">
        <div class="col-xs-4 ml-2 mr-2" id="test-card">
          <app-hourly-forecast-card
            [hourly]="hourly"
          ></app-hourly-forecast-card>
        </div>
      </ng-container>
    </div>
    <hr />
    <div class="row">
      <div class="col">
        <span id="forecast-title">7-Day Forecast</span>
      </div>
    </div>
    <div class="row mt-3">
      <ng-container *ngFor="let forecast of sevenDayForecast.forecast">
        <div class="col-xl col-lg-4 col-md-6 mb-4">
          <app-forecast-card [forecastData]="forecast"></app-forecast-card>
        </div>
      </ng-container>
    </div>
    <hr />
  </ng-container>
</div>
