<div class="card shadow-sm">
  <div class="card-body">
    <div class="row justify-content-center">
      <div class="col-auto">
        {{ hourly.time }}
      </div>
    </div>
    <hr />
    <div class="row justify-content-center">
      <div class="col-auto">
        <ng-container *ngIf="hourly.weatherIconId === '01d'">
          <object
            data="../../../assets/SVG/clear_sky.svg"
            height="70"
            width="70"
            class="align-self-center"
          ></object>
        </ng-container>
        <ng-container *ngIf="hourly.weatherIconId === '01n'">
          <object
            data="../../../assets/SVG/clear_sky_night.svg"
            height="70"
            width="70"
            class="align-self-center"
          ></object>
        </ng-container>
        <ng-container *ngIf="hourly.weatherIconId === '02d'">
          <object
            data="../../../assets/SVG/partly_cloudy.svg"
            height="70"
            width="70"
            class="align-self-center"
          ></object>
        </ng-container>
        <ng-container *ngIf="hourly.weatherIconId === '02n'">
          <object
            data="../../../assets/SVG/partly_cloudy_night.svg"
            height="70"
            width="70"
            class="align-self-center"
          ></object>
        </ng-container>
        <ng-container
          *ngIf="
            hourly.weatherIconId === '03d' || hourly.weatherIconId === '03n'
          "
        >
          <object
            data="../../../assets/SVG/scattered_clouds.svg"
            height="70"
            width="70"
            class="align-self-center"
          ></object>
        </ng-container>
        <ng-container
          *ngIf="
            hourly.weatherIconId === '04d' || hourly.weatherIconId === '04n'
          "
        >
          <object
            data="../../../assets/SVG/broken_clouds.svg"
            height="70"
            width="70"
            class="align-self-center"
          ></object>
        </ng-container>
        <ng-container
          *ngIf="
            hourly.weatherIconId === '09d' || hourly.weatherIconId === '09n'
          "
        >
          <object
            data="../../../assets/SVG/shower_rain.svg"
            height="70"
            width="70"
            class="align-self-center"
          ></object>
        </ng-container>
        <ng-container *ngIf="hourly.weatherIconId === '10d'">
          <object
            data="../../../assets/SVG/rain.svg"
            height="70"
            width="70"
            class="align-self-center"
          ></object>
        </ng-container>
        <ng-container *ngIf="hourly.weatherIconId === '10n'">
          <object
            data="../../../assets/SVG/rain_night.svg"
            height="70"
            width="70"
            class="align-self-center"
          ></object>
        </ng-container>
        <ng-container
          *ngIf="
            hourly.weatherIconId === '11d' || hourly.weatherIconId === '11n'
          "
        >
          <object
            data="../../../assets/SVG/thunderstorm.svg"
            height="70"
            width="70"
            class="align-self-center"
          ></object>
        </ng-container>
        <ng-container
          *ngIf="
            hourly.weatherIconId === '13d' || hourly.weatherIconId === '13n'
          "
        >
          <object
            data="../../../assets/SVG/snow.svg"
            height="70"
            width="70"
            class="align-self-center"
          ></object>
        </ng-container>
        <ng-container
          *ngIf="
            hourly.weatherIconId === '50d' || hourly.weatherIconId === '50n'
          "
        >
          <object
            data="../../../assets/SVG/mist.svg"
            height="70"
            width="70"
            class="align-self-center"
          ></object>
        </ng-container>
      </div>
    </div>
    <hr />
    <div class="row justify-content-center">
      <div class="col-auto">
        <span id="hourly-card-temp">{{ hourly.temperature }}°</span>
      </div>
    </div>
  </div>
</div>
