<div class="card shadow-sm">
  <div class="card-body">
    <div class="row justify-content-center">
      <div class="col-auto">{{ forecastData.date }}</div>
    </div>
    <hr />
    <div class="row justify-content-center">
      <div class="col-auto">
        <ng-container *ngIf="forecastData.weatherIconId === '01d'">
          <object
            data="../../../assets/SVG/clear_sky.svg"
            height="70"
            width="70"
            class="align-self-center"
          ></object>
        </ng-container>
        <ng-container *ngIf="forecastData.weatherIconId === '02d'">
          <object
            data="../../../assets/SVG/partly_cloudy.svg"
            height="70"
            width="70"
            class="align-self-center"
          ></object>
        </ng-container>
        <ng-container *ngIf="forecastData.weatherIconId === '03d'">
          <object
            data="../../../assets/SVG/scattered_clouds.svg"
            height="70"
            width="70"
            class="align-self-center"
          ></object>
        </ng-container>
        <ng-container *ngIf="forecastData.weatherIconId === '04d'">
          <object
            data="../../../assets/SVG/broken_clouds.svg"
            height="70"
            width="70"
            class="align-self-center"
          ></object>
        </ng-container>
        <ng-container *ngIf="forecastData.weatherIconId === '09d'">
          <object
            data="../../../assets/SVG/shower_rain.svg"
            height="70"
            width="70"
            class="align-self-center"
          ></object>
        </ng-container>
        <ng-container *ngIf="forecastData.weatherIconId === '10d'">
          <object
            data="../../../assets/SVG/rain.svg"
            height="70"
            width="70"
            class="align-self-center"
          ></object>
        </ng-container>
        <ng-container *ngIf="forecastData.weatherIconId === '11d'">
          <object
            data="../../../assets/SVG/thunderstorm.svg"
            height="70"
            width="70"
            class="align-self-center"
          ></object>
        </ng-container>
        <ng-container *ngIf="forecastData.weatherIconId === '13d'">
          <object
            data="../../../assets/SVG/snow.svg"
            height="70"
            width="70"
            class="align-self-center"
          ></object>
        </ng-container>
        <ng-container *ngIf="forecastData.weatherIconId === '50d'">
          <object
            data="../../../assets/SVG/mist.svg"
            height="70"
            width="70"
            class="align-self-center"
          ></object>
        </ng-container>
      </div>
    </div>
    <hr />
    <div class="row justify-content-center">
        <div class="col-auto">
            <span id="forecast-card-info-temp">{{ forecastData.maxTemp }}°</span>
        </div>
        <div class="col-auto">
            <span class="gray" id="forecast-card-info-temp">{{ forecastData.minTemp }}°</span>
        </div>
    </div>
  </div>
</div>
